.iconContainer {
  width: calc(46px * var(--scale-factor));;
  height: calc(46px * var(--scale-factor));;
  background-color: #EEEEEE;

  &:hover {
    background-color: #EEEEEE;
  }
}

.icon {
  background-color: #EEEEEE;
  width: calc(46px * var(--scale-factor));
  height: calc(46px * var(--scale-factor));
}

.iconActive {
  background-color: #EEEEEE;
}

.notificationIndicator {
  border: rem(1px) solid #EEEEEE;
  height: calc(18px * var(--scale-factor));
  width: calc(26px * var(--scale-factor));
}

.notificationCount {
  font-size: calc(12px * var(--scale-factor));
  color: #EEEEEE;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  line-height: calc(14px * var(--scale-factor));
}

.dropdownContainer {
  width: calc(491px * var(--scale-factor));
  height: calc(490px * var(--scale-factor));

  padding: calc(20px * var(--scale-factor));

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}

.notificationContainer {
  width: 100%;
  height: calc(491px * var(--scale-factor));
  overflow-y: auto;
}

.notificationGroup {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;
  background: #FFFFFF;
  padding: calc(12px * var(--scale-factor)) calc(18px * var(--scale-factor));
  &:hover {
    background: #E6F2FF;
  }

  cursor: var(--pointer-cursor), pointer !important;
}

.notificationUnReadGroup {
  background: #FFFAED;
}

.notificationTextsGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px; 
  cursor: var(--pointer-cursor), pointer !important;
}

.notificationTitle {
  color:#494949;
  font-family: Roboto;
  font-size: calc(16px * var(--scale-factor));
  font-weight: 500;
  line-height: calc(16.75px * var(--scale-factor));
  letter-spacing: 0em;
  text-align: left;

  cursor: var(--pointer-cursor), pointer !important;
}

.notificationUnReadTitle {
  color: var(--theme-color);
}

.notificationDate {
  color: #C0C6CC;
  font-family: Roboto;
  font-size: calc(12px * var(--scale-factor));
  font-weight: 400;
  line-height: calc(13.6px * var(--scale-factor));
  letter-spacing: 0em;
  text-align: left;

  cursor: var(--pointer-cursor), pointer !important;
}

.notificationViewMore {
  color: #C0C6CC;
  font-family: Roboto;
  font-size: calc(16px * var(--scale-factor));
  font-weight: 400;
  line-height: calc(20.8px * var(--scale-factor));
  letter-spacing: 0em;
  text-align: center;


  cursor: var(--pointer-cursor), pointer !important;
}
