
.authcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Optional for a dim background */
}
.container {
  display: flex;
  height: 100vh;
}
.authbox {
  position: relative;
  background: white;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-top: 0px;
  padding-bottom: 10px;
}
.box{
  position: relative;
  background: white;
  border-radius: 10px;
  padding: 10px;
  width: 400px;
}
.modalHeader {
  background-color: #007bff;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #007bff;
  border-radius: 5px;
}

.logo {
  height: 40px; 
  width: 100px; /* Adjust size as needed */
  margin-left: 0; /* Ensure it is aligned to the left end */
}

.closeButton {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.content {
  text-align: left;
}

.title {
  font-size: 20px;
}

.subtitle {
  font-size: 14px;
  color: #4d4d4d;
}

.inputContainer {
  margin-bottom: 20px;
  padding: 10px;
}

.emailInput {
  width: 100%;
}
.buttonContainer{
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}


.submitButton {
  width: 100%;
  background-color: #007bff;
  color: white;
}

.submitButton:hover {
  background-color: #0056b3;
}
