.settings-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  gap: 5px;
}

.input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 30px;
  background-color: #efefef;
  height: 40px;
}

.button {
  width:70px;
  height: 40px;
  border: none;
  background-color: #007bff;
  color: #ffffff;
  border-radius: 30px;
  cursor: pointer !important;
  margin-left: 10px;
}
