.card {
  padding: 0px 20px;
  border-left: 1px solid #007BFF;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 350px;
  width: 100%;
  height: 64px;
  background-color: #E6F2FF;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.group {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  align-content: center;
  justify-content: center;
}
.fileName {
  text-align: left;
  color: #292929;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  flex: 1;
}

.icon {
  margin: auto 0;
}

.preview {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 10px;
}
