.textInputSmall {
  border-radius: 22px;
  height: 34px;
}

.title {
  color: #292929;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.inputDisplay {
  background-color: #E6F2FF;
  color: #292929;
  border: 0px;
  cursor: default;
}
