.modalContent {
  min-width: 400px;
  @media (max-width: 600px) {
    min-width: 320px;
  }
}

.modalBody {
  border-radius: 15px;
}

.modalTitle {
  color: #333;
  font-weight: 600;
  font-size: 22px;
}

.modalSubtitle {
  color: #7a7a7a;
  font-size: 16px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.text {
  font-size: 14px;
  font-weight: 500;
  color: #292929;
}

.numberInput {
  font-size: 16px;
  font-weight: 600;
  background-color: #f5f5f5;
}

.cancelButton {
  background-color: #f5f5f5;
  color: #007bff;
  border: 1px solid #007bff;
}

.confirmButton {
  background-color: #007bff;
  color: white;
}

.confirmButton[disabled] {
  background-color: #9bbcff;
}

.title {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  color: #292929;
}

.congratsTitle {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  color: #007bff;
}

.congratsSubtitle {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: center;
  color: #7A7A7A;
}

.generatedNumber {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.88px;
  letter-spacing: -0.01em; 
  color: #007bff;
}

.continueButton {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
}

.congratsFlex {
  background-color: #FFF7E7;
  background-image: url('./congrats.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.congratsFlex .title,
.congratsFlex .generatedNumber {
  position: relative;
  z-index: 1;
}
