@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka One:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --background-color: #f3f6f8;
  --background-color2: #ffffff;
  --theme-color: #393d97;
  --color-main: #71c6dd;
  --color-main-light: #e1f6fb;
  --color-dark: #3f4156;
  --color-dark-medium: #51546e;
  --color-dark-light: #696d97;
  --color-light: #e6e6e6;
  --color-gray: #8b8b8b;
  --color-light-gray: #b2bdbd;
  --color-bg: #2d2d39;
  --color-text: #292929;
  --color-success: #5dd693;
  --color-error: #fc4b0b;
  --btn-action: #b24432;

  --scale-factor: 1;

  @media screen and (max-width: 1500px) {
    --scale-factor: 0.75;
  }

  /* --default-cursor: url('../assets/cursor/default_cursor.svg'); */
  /* --pointer-cursor: url('../assets/cursor/pointer_cursor.svg'); */
  /* --progress-cursor: url('../assets/cursor/progress_cursor.svg'); */
  /* --wait-cursor: url('../assets/cursor/wait_cursor.svg'); */
  /* --text-cursor: url('../assets/cursor/text_cursor.svg'); */
  /* --move-cursor: url('../assets/cursor/move_cursor.svg'); */
  /* --crosshair-cursor: url('../assets/cursor/crosshair_cursor.svg'); */
  /* --help-cursor: url('../assets/cursor/help_cursor.svg'); */
  /* --not-allowed-cursor: url('../assets/cursor/not_allowed_cursor.svg'); */
  /* --context-menu-cursor: url('../assets/cursor/context_menu_cursor.svg'); */
  /* --alias-cursor: url('../assets/cursor/alias_cursor.svg'); */
  /* --copy-cursor: url('../assets/cursor/copy_cursor.svg'); */
  /* --move-cursor-2: url('../assets/cursor/move_cursor.svg'); */
  /* --no-drop-cursor: url('../assets/cursor/no_drop_cursor.svg'); */
  /* --all-scroll-cursor: url('../assets/cursor/all_scroll_cursor.svg'); */
  /* --ew-resize-cursor: url('../assets/cursor/ew_resize_cursor.svg'); */
  /* --ns-resize-cursor: url('../assets/cursor/ns_resize_cursor.svg'); */
  /* --nesw-resize-cursor: url('../assets/cursor/nesw_resize_cursor.svg'); */
  /* --nwse-resize-cursor: url('../assets/cursor/nwse_resize_cursor.svg'); */
}

/*========== custom cursors ==========*/

* {
  /* cursor: var(--default-cursor), default; */
}

button,
button label {
  /* cursor: var(--pointer-cursor), pointer !important; */
}

button label {
  /* cursor: var(--pointer-cursor), pointer !important; */
  color: black !important;
}

a {
  /* cursor: var(--pointer-cursor), pointer !important; */
}

input {
  /* cursor: var(--text-cursor), text !important; */

  /* [type="text"] {
    cursor: var(--text-cursor), text !important;
  }

  [type="password"] {
    cursor: var(--text-cursor), text !important;
  } */
}
input {
  /* cursor: var(--text-cursor), text !important; */

  /* &[type="radio"] {
    cursor: var(--pointer-cursor), pointer !important;
  }

  &[type="checkbox"] {
    cursor: var(--pointer-cursor), pointer !important;
  } */
}

.default-cursor {
  /* cursor: var(--default-cursor), default; */
}

.pointer-cursor {
  /* cursor: var(--pointer-cursor), pointer; */
}

/* .progress-cursor {
  cursor: var(--progress-cursor), progress;
} */

/* .wait-cursor {
  cursor: var(--wait-cursor), wait;
} */

.text-cursor {
  /* cursor: var(--text-cursor), text; */
}

/* .move-cursor {
  cursor: var(--move-cursor), move;
} */

/* .crosshair-cursor {
  cursor: var(--crosshair-cursor), crosshair;
} */

/* .help-cursor {
  cursor: var(--help-cursor), help;
} */

/* .not-allowed-cursor {
  cursor: var(--not-allowed-cursor), not-allowed;
} */

/* .context-menu-cursor {
  cursor: var(--context-menu-cursor), context-menu;
} */

/* .alias-cursor {
  cursor: var(--alias-cursor), alias;
} */

/* .copy-cursor {
  cursor: var(--copy-cursor), copy;
} */

/* .move-cursor-2 {
  cursor: var(--move-cursor-2), move;
} */

/* .no-drop-cursor {
  cursor: var(--no-drop-cursor), no-drop;
} */

/* .all-scroll-cursor {
  cursor: var(--all-scroll-cursor), all-scroll;
} */

/* .ew-resize-cursor {
  cursor: var(--ew-resize-cursor), ew-resize;
} */

/* .ns-resize-cursor {
  cursor: var(--ns-resize-cursor), ns-resize;
} */

/* .nesw-resize-cursor {
  cursor: var(--nesw-resize-cursor), nesw-resize;
} */

/* .nwse-resize-cursor {
  cursor: var(--nwse-resize-cursor), nwse-resize;
} */

/*========== base styles ==========*/

* {
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  /* color: inherit; */
  transition: all 0.3s ease;
}

body {
  line-height: 1;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-text);
  background-color: var(--background-color);
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  min-width: 768px;
}

img {
  width: 100%;
}

a {
  display: inline-block;
  color: var(--color-main);
  text-decoration: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

p,
span,
h1,
h2,
h3,
h4 {
  /* font-family: Arial, sans-serif; */
}

.main-container {
  display: block;
  min-height: 100vh;
  width: 100%;
  overflow-y: auto;
  background-color: var(--background-color);
}

.required {
  color: var(--bs-danger);
}

.link {
  color: var(--theme-color);
}

.responsive-left-margin {
  margin-left: max(20vw, 300px);
}

.container {
  height: calc(100vh - 90px);
}

.main-content-container {
  margin-left: 30px;
}

.content-container {
  height: 85vh;
  overflow-y: scroll;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
}

.content-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.landing-page-theme {
  background: linear-gradient(101deg, #fdca47 0%, #fbbc1a 91.37%);
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: calc(15px * var(--scale-factor));
  border-radius: calc(15px * var(--scale-factor));
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: calc(15px * var(--scale-factor));
  border-radius: calc(15px * var(--scale-factor));
  background: rgb(90, 89, 89);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(146, 144, 144, 0.4);
}




.border-radius-full {
  border-radius: calc(15px * var(--scale-factor));
}

.border-radius-top {
  border-top-left-radius: calc(15px * var(--scale-factor));
  border-top-right-radius: calc(15px * var(--scale-factor));
}

.border-radius-bottom {
  border-bottom-left-radius: calc(15px * var(--scale-factor));
  border-bottom-right-radius: calc(15px * var(--scale-factor));
}

.border-radius-left {
  border-top-left-radius: calc(15px * var(--scale-factor));
  border-bottom-left-radius: calc(15px * var(--scale-factor));
}

.border-radius-right {
  border-top-right-radius: calc(15px * var(--scale-factor));
  border-bottom-right-radius: calc(15px * var(--scale-factor));
}

.border-radius-horizontal {
  border-top-left-radius: calc(15px * var(--scale-factor));
  border-top-right-radius: calc(15px * var(--scale-factor));
  border-bottom-left-radius: calc(15px * var(--scale-factor));
  border-bottom-right-radius: calc(15px * var(--scale-factor));
}

.border-radius-vertical {
  border-top-left-radius: calc(15px * var(--scale-factor));
  border-bottom-left-radius: calc(15px * var(--scale-factor));
  border-top-right-radius: calc(15px * var(--scale-factor));
  border-bottom-right-radius: calc(15px * var(--scale-factor));
}
