{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "tabWidth": 2,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "bracketSameLine": true,
  "proseWrap": "always",
  "endOfLine": "auto"
}
